<div class ="container">
<div class="jumbotron">
      <div class="container">
        <h1>What is amiGo?</h1>
        <p>amiGo is a mobile app that connects people through activities. We use geo-location to find cool people that live in your area who love to do the same things you like to do. Whether it is working out, going on a bike ride, playing basketball, or catching the game at the bar- amiGo helps connect you to cool people around your area.</p>
        <div class = "pull-right">
          <p><a class="btn btn-primary btn-lg" role="button">Login &raquo;</a></p></center>
        </div>  
        <div class = "pull-right">
        	<p><a class="btn btn-primary btn-lg" role="button">Sign Up &raquo;</a></p></center>
      </div>
  	  </div>
    </div>
</div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Beta Testers</h2>
          <p>If you are interested in beta testing the amiGo app click below! </p>
          <p><a class="btn btn-default" href="#" role="button">Beta Test &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Inquiries</h2>
          <p>Interested in learning more about amiGo? </p>
          <p><a class="btn btn-default" href="#" role="button">Click me! &raquo;</a></p>
       </div>


 <footer>
        <p>&copy; Company 2013</p>
      </footer>
    </div> <!-- /container -->